@media only screen and (min-width: 2560px) {
    nav {
        min-height: 60px;
    }

    nav svg {
        width: 45px;
        height: 45px;
    }

    .account a {
        display: flex;
        flex-direction: column;
        height: 45px;
    }

    nav h2 {
        font-size: 38px;
    }


    .headerSearchBtn svg, .headerSearchBtn svg path {
        width: 48px;
        height: 48px;
    }
}


@media only screen and (max-width: 1400px) {
    .results {
        width: clamp(100px, 95vw, 2000px);
    }

    .result {
        padding: 13px 15px;
    }

    .searchBar {
        width: clamp(275px, 26vw, 500px);
    }


    .moreInfoMainContent {
        width: 80%;
    }

    .moreInfoAuthor {
        font-size: clamp(2.2rem, 2.4vw, 15rem);
    }

    .bookDescription {
        font-size: clamp(20px, 1.6vw, 3rem);
    }

    .moreInfoSource {
        font-size: clamp(0.9rem, 1.2vw, 2.9rem);
    }


    .myBooksMain section {
        width: 35%;
    }

    .myBooksMain th {
        padding: 0.5em 0;
        font-size: clamp(20px, 1.9vw, 30px);
    }

    .myBooksMain td {
        font-size: clamp(20px, 1.8vw, 30px);
        padding: 0.5em 0px;
    }
}


@media only screen and (max-width: 1204px) {

    .textGlow {
        width: 100%;
    }
    
    .headerSearchBtn {
        border-radius: 1em;
        padding: 0.25em 0.5em;
        gap: 3px;
        font-size: clamp(35px, 2.3vw, 80px);
    }

    .headerSearchBtn svg {
        width: 35px;
        height: 35px;
    }


    .search {
        top: 5%;
    }

    .searchBar {
        width: clamp(300px, 36vw, 500px);
    }

    .results {
        width: clamp(100px, 90vw, 2000px);
    }

    .outerResult {
        width: clamp(250px, 45%, 500px);
        padding: 10px 13px;
    }

    .result a {
        max-height: 40px;
    }

    .outerResult:last-child {
        display: none;
    }



    .myBooksMain section {
        width: 40%;
    }

    .myBooksMain h2{
        font-size: clamp(40px, 5vw, 80px);
    }

    .myBooksMain th {
        padding: 0.5em 0;
        font-size: clamp(20px, 2.3vw, 30px);
    }

    .myBooksMain td {
        font-size: clamp(20px, 2.2vw, 30px);
        padding: 0.5em 0px;
    }
}


@media only screen and (max-width: 900px) {
    .moreInfoMainContent {
        width: 85%;
    }

    .footerContent {
        width: 90%;
        padding: 0;
        top: 60%;
    }


    .bookNameHeader {
        font-size: clamp(3rem, 12vw, 15rem);
    }

    .moreInfoAuthor {
        font-size: clamp(2.2rem, 3.2vw, 15rem);
    }

    .bookDescription {
        font-size: clamp(20px, 2.3vw, 3rem);
    }

    .moreInfoSource {
        font-size: clamp(0.9rem, 2vw, 2.9rem);
    }


    .moreInfoTextGlow {
        width: 100%;
        height: 100%;
        top: 0;
    }

    .moreInfoTextGlow::before {
        height: 100%;
        left: 0;
        top: -20%;
        background: linear-gradient(#210d73 20%, black 100%);
    }

    .errorContainer::before {
        height: 100%;
        width: 100%;
        left: 0;
        top: -20%;
        background: linear-gradient(#210d73 20%, black 100%);
    }



    .myBooksMain {
        gap: 3vw;
    }

    .myBooksMain section {
        width: 45%;
    }

    .myBooksMain h2{
        font-size: clamp(40px, 6.2vw, 80px);
    }

    .myBooksMain th {
        padding: 0.5em 0;
        font-size: clamp(20px, 2.6vw, 30px);
    }

    .myBooksMain td {
        font-size: clamp(20px, 2.5vw, 30px);
        padding: 0.5em 0px;
    }
}



@media only screen and (max-width: 600px) {
    .scrollSnapContainer {
        -webkit-scroll-snap-type: none;
            -ms-scroll-snap-type: none;
                scroll-snap-type: none;
    }

    .scrollSnap {
        /* height: auto; */
    }

    .navUserOptions {
        gap: 7px;
    }

    #indexMain {
        min-height: 190lvh;
    }

    
    
    .headerContent {
        margin-left: 4%;
    }

    
    .search {
        top: 5%;
    }

    .searchGlow {
        height: auto;
    }

    .searchBar {
        width: clamp(230px, 36vw, 500px);
        margin-bottom: 40px;
        font-size: 25px;
    }

    .results {
        width: clamp(100px, 70vw, 2000px);
    }

    .outerResult {
        width: clamp(250px, 100%, 500px);
        padding: 4px 13px;
        display: block;
    }

    .outerResult:last-child {
        display: block;
    }

    nav {
        padding: 0 10px;
    }

    nav h2 {
        font-size: 27px;
    }

    nav svg {
        width: 30px;
    }
    

    .textGlow::before {
        content: attr(data-text);
        display: block;
        position: absolute;
        z-index: -1;
        border-radius: 10px;
        width: 180vw;
        height: 200lvh;
        left: -90vw;
        top: -130lvh;
        background: radial-gradient(#210d73 20%, black 70%);
    }

    #searchBarBtn {
        height: 30px;
        max-width: 127px;
        display: block;
        margin-top: 20px;
    }

    .headerSearchBtn {
        border-radius: 1em;
        padding: 0.3em 0.6em;
        gap: 3px;
        font-size: clamp(24px, 2.3vw, 80px);
    }

    .headerSearchBtn svg {
        width: 24px;
        height: 24px;
    }


    footer h3 {
        font-size: 30px;
        color: white;
        font-weight: 500;
        margin-bottom: 0.8em;
    }
    
    
    footer p, footer a {
        font-size: 20px;
        color: white;
        margin: 0;
        padding: 0;
        padding: 0.1em;
    }
    
    footer p:last-child {
        margin-top: 8px;
    }



    .loginContainer::before {
        width: 100vw;
        height: 100lvh;
        left: 0%;
        top: 0%;
        background: linear-gradient(#210d73 8%, black 80%);
    }

    .loginContainer {
        padding-top: 80px;
    }

    .loginForm {
        margin-top: 15px;
    }

    .loginBtn {
        padding: 0.35em 0.65em;
        border-radius: 1em;
    }




    .moreInfoMainContent {
        width: 85%;
    }

    .bookNameHeader {
        font-size: clamp(45px, 15vw, 15rem);
    }

    .moreInfoAuthor {
        font-size: clamp(20px, 3.8vw, 15rem);
    }

    .bookDescription {
        font-size: clamp(17px, 3.5vw, 3rem);
    }

    .moreInfoSource {
        font-size: clamp(15px, 2vw, 2.9rem);
    }


    .moreInfoTextGlow {
        width: 100%;
        height: 100%;
        top: 0;
    }

    .moreInfoTextGlow::before {
        height: 100%;
        left: 0;
        top: -20%;
        background: linear-gradient(#210d73 20%, black 100%);
    }



    .myBooksMain {
        gap: 7lvh;
    }

    .myBooksMain::before {
        width: 100vw;
        max-height: 100lvh;
        transform: translate(-50%, -10%);
        background: linear-gradient(#210d73 15%, black 100%);
    }

    .myBooksMain section {
        width: 70%;
    }

    .myBooksMain h2{
        font-size: clamp(40px, 9vw, 80px);
    }

    .myBooksMain th {
        padding: 0.6em 0;
        font-size: clamp(20px, 2.8vw, 30px);
    }

    .myBooksMain td {
        font-size: clamp(20px, 2.7vw, 30px);
        padding: 0.6em 0px;
    }
}





@media only screen and (max-height: 800px) {
    /* .outerResult:nth-last-child(5) {
        display: none;
    } */
} 