/* 
text: white
secondary text: #E4E2E9
background: black
primary: #2d119c
secondary: #210d73
accent: #ffda00
border: #3a16ca
*/




* {
    margin: 0;
    box-sizing: border-box;
}





/* FONT SIZES */

:root {
    --test: 20px;
}







html {
    font-size: 62.5%;
}


body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}


/* scroll snap */

.scrollSnapContainer,
.scrollSnap {
    max-width: 100%;
    height: 100lvh;
    font-size: 60px;
}

.scrollSnapContainer {
    overflow: auto;
    -webkit-scroll-snap-type: y mandatory;
        -ms-scroll-snap-type: y mandatory;
            scroll-snap-type: y mandatory;
}

.scrollSnap {
    scroll-snap-align: start;
}



.indexHeader {
    position: relative;
    min-height: 100lvh;
    scroll-snap-align: start;
    user-select: none;
}

nav {
    background-color: black;
    border-bottom: 1.5px solid #363636;
    height: clamp(50px, 6.5vh, 200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.glass {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    top: 0;
}

nav h2 {
    color: white;
    font-size: 32px;
    font-weight: 800;
}

/* .account {
    display: flex;
    flex-direction: column;
}


.accountCircle {
    font-size: 40px !important;
    color: #294a70 !important;
    cursor: pointer;
}

.accountDropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px;
    text-align: left;
    border-radius: 5%;
    box-shadow: 0 0 0 1px #8898aa1a, 0 15px 35px #31315d1a, 0 5px 15px #00000014;
    color: white;
}

.accountDropdown::before,
.accountDropdown::after {
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 50%;
} */

.dropdownOption {
    color: white;
    font-size: clamp(23px, 1.3vw, 30px);
}




.textGlow {
    /* width: 1200px; */
    width: clamp(100px, 63%, 2000px);
    height: 350px;
    position: absolute;
    top: 8%;
    left: 0px;
}

.headerContent {
    margin-left: 8%;
    margin-top: 5.5lvh;
}

.textGlow .mainH1 {
    color: white;
    /* font-size: 128px; */
    font-size: clamp(50px, calc(1rem + 3.7vw), 200px);
    font-family: 'Playfair Display', serif;
    letter-spacing: -1.92px;
    z-index: 1; /* Přidejte z-index, aby byl text nad gradientem */
    /* position: absolute;
    top: 15lvh;
    left: 8%; */
    margin-bottom: 0.2em;
}

.textGlow::before {
    content: attr(data-text);
    display: block;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    width: 200vw;
    height: 200lvh;
    left: -100vw;
    top: -100lvh;
    background: radial-gradient(#210d73 20%, black 65%);

    /* 
    width: 160%;
    height: 200%;
    left: -450px;
    top: -70px;
    background: radial-gradient(#210d73 0, black 70%);
    */
}



.headerSearchBtnWidth{
    display: inline-block;
}

.headerSearchBtn {
    background-color: #ffda00;
    border-radius: 30px;
    border-radius: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 20px;
    padding: 0.07em 0.5em;
    font-weight: 500 !important;
    font-size: 43px;
    font-size: clamp(20px, 2.3vw, 80px);
    padding-left: 13px;
    /* width: clamp(50px, 20vw, 300px); */
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
    gap: 5px;
}

.material-symbols-outlined {
    font-weight: 500 !important;
}

.headerSearchBtn span {
    font-size: clamp(20px, 2.3vw, 80px);
}





main {
    position: relative;
    max-width: 1920px;
    margin: 100px auto;
}

.indexMain {
    scroll-snap-align: start;
    max-height: 95vh;
    overflow-y: hidden;
}

.observerElSearch {
    position: absolute;
    top: 1080px;
    width: 20px;
    height: 5px;
    background-color: red;
}

.search {
    /* max-width: 1000px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.searchGlow {
    width: 100vw;
    height: 100svh;
    position: absolute;
    left: 0%;
}

.searchGlow::before {
    content: attr(data-text);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0%;
    z-index: -1;
    background: radial-gradient(#210d73 0, black 75%);
    border-radius: 10px;
}

.searchBar {
    width: 400px;
    width: clamp(250px, 20.8vw, 500px);
    background-color: #210d73;
    border-radius: 20px;
    border: #3a16ca 2px solid;
    color: white;
    font-size: 30px;
    font-weight: 400;
    padding: 7px 13px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 65px;
    transition: border-width 0.3s ease-in-out;
    margin-left: 1px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
}

.searchBar::placeholder {
    color: #E4E2E9;
}

.searchBar:focus {
    outline: #3a16ca 1px solid;
}

.results {
    width: clamp(100px, 80vw, 2000px);
    max-width: 2000px;
    display: flex;
    flex-direction: row;
    gap: clamp(8px, 2vw, 40px);
    flex-wrap: wrap;
    justify-content: center;
}

.results .row {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2vw;
}

.result {
    background-color: #2d119c;
    width: clamp(275px, 28%, 500px);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 15px;
    user-select: none;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
}

.result .bookName {
    font-size: clamp(23px, 1.3vw, 30px);
    margin-bottom: 1px;
}

.result .bookAuthor {
    font-size: clamp(18px, 1.04vw, 25px);
    color: #E4E2E9;
}

.result a {
    display: flex;
}

.result .moreIcon {
    color: #ffda00;
    font-size: 40px !important;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.resultsDivider {
    height: 40px;
}


/* Buttons */

.mainButtons {
    display: flex;
    justify-content: center;
    gap: 5%;
    /* width: clamp(200px, 32.7vw, 700px); */
    width: 35%;
    font-size: clamp(20px, 1.9vw, 80px);
    margin-top: 2em
}

.mainButtons a {
    width: 47%;
}

/* .mainBtn {
    display: flex;
    justify-content: center;
    font-size: clamp(20px, 2.3vw, 80px);
} */

.mainButtons div {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #2d119c;
    font-weight: 400;
    padding: 0.3em 0em;
    border-radius: 1em;
    border: 3px solid #2d119c;

    display: none;
}

#moreBtn {
    border: 3px solid #ffda00;
    box-sizing: border-box;
    /* background-color: #ffda00; */
    /* color: black; */
    /* font-weight: 600; */
}



footer {
    height: 100lvh;
    position: relative;
    z-index: -1;
}

.footerContent {
    height: 40lvh;
    max-width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #210d73; */
    padding: 0.5em;
    text-align: center;
}

.footerGlow {
    width: 100vw;
    height: 110lvh;
    background: linear-gradient(rgba(0, 0, 0, 1) -10%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: -10%;
    /* position: absolute;
    top: 17%;
    left: 23%; */
}

.footerGlow::before {
    content: attr(data-text);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0%;
    z-index: -1;
    background: radial-gradient(#210d73 0, black 50%);
    background: radial-gradient(circle at 100% 100%, #210d73 10%, black 70%);
}


footer h3 {
    font-size: 40px;
    color: white;
    font-weight: 500;
    margin-bottom: 0.8em;
}


footer p, footer a {
    font-size: 21px;
    color: white;
    margin: 0;
    padding: 0;
    padding: 0.1em;
}

footer p:last-child {
    margin-top: 8px;
}


/* SCROLL ANIMATION */

/* header */
.indexHeaderHidden h1{
    opacity: 0;
}

.indexHeaderHidden .headerSearchBtn {
    opacity: 0;
    transform: translateY(-50%);
}

.textGlow::before {
    opacity: 0;
}


.showHeader h1 {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.showHeader .textGlow::before {
    opacity: 1;
    transition: opacity 1s ease-in 100ms;
}

.showHeader .headerSearchBtn {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in 400ms, transform 0.8s ease-in;
}

/* main */

.indexMainHidden .searchBar {
    opacity: 0;
}

.indexMainHidden .searchGlow::before {
    opacity: 0;
}

.indexMainHidden .result {
    opacity: 0;
    transform: translateY(-30%);
}


.showMain .searchBar {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.showMain .searchGlow::before {
    opacity: 0.9;
    transition: opacity 1s ease-in 200ms;
}

.showMain .result:nth-child(1) {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in 200ms, transform 0.8s ease-in;
}

.showMain .result:nth-child(2) {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in 200ms, transform 0.8s ease-in;
}

.showMain .result:nth-child(3) {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in 200ms, transform 0.8s ease-in;
}

.showMain .result:nth-child(4) {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in 300ms, transform 0.8s ease-in;
}

.showMain .result:nth-child(5) {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in 300ms, transform 0.8s ease-in;
}

.showMain .result:nth-child(6) {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in 300ms, transform 0.8s ease-in;
}

.showMain .result:nth-child(7) {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in 400ms, transform 0.8s ease-in;
}

.showMain .result:nth-child(8) {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in 400ms, transform 0.8s ease-in;
}

.showMain .result:nth-child(9) {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in 400ms, transform 0.8s ease-in;
}


/* footer */

/* .indexFooterHidden .footerContent {
    opacity: 0;
}

.indexFooterHidden .footerGlow {
    opacity: 0;
} */

.showFooter .footerContent {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.showFooter .footerGlow {
    opacity: 1;
    transition: opacity 1s ease-in 200ms;
}









/* more info */


.moreInfoBody {
    height: 100lvh;
    overflow-x: hidden;
}

.moreInfoNav {
    position: static;
}

.moreInfoMain {
    height: 90%;
    margin: 60px auto 0 auto;
}

.moreInfoMainContent {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bookNameHeader {
    color: white;
    font-size: clamp(60px, 7vw, 200px);
    font-family: 'Playfair Display', serif;
    letter-spacing: -0.015em;
    z-index: 1;
    margin-bottom: -0.1em;
    user-select: none;
    text-align: center;
    line-height: 100%;
    margin-bottom: 0.1em;
}

.moreInfoAuthor {
    color: #E4E2E9;
    font-weight: 500;
    font-size: clamp(2.2rem, 2.3vw, 15rem);
    margin-bottom: 3rem;
    user-select: none;
}

.bookDescription {
    color: white;
    text-align: justify;
    width: 100%;
    font-size: clamp(20px, 1.3vw, 40px);
    user-select: auto;
    position: relative;
    z-index: 1;
}

.moreInfoTextGlow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    /* top: -50%;
    left: 15%; */
}

.moreInfoTextGlow::before {
    content: attr(data-text);
    display: block;
    width: 150vw;
    height: 200lvh;
    position: absolute;
    left: -25%;
    top: -120%;
    z-index: -1;
    background: radial-gradient(#210d73 20%, black 65%);
    border-radius: 10px; /* Prispůsobte poloměr zaoblení podle potřeby */
}

.moreInfoSource {
    color: #E4E2E9;
    font-size: clamp(0.9rem, 0.95vw, 2.9rem);
    margin-top: 0.5em;
}

.moreInfoSource a {
    color: #E4E2E9;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.moreInfoReserveBtn {
    margin-top: 50px;
    font-size: clamp(30px, 2vw, 50px);
    background-color: #ffda00;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.5em;
    font-weight: 500 !important;
    user-select: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.moreInfoReserveIcon {
    font-size: clamp(20px, 2vw, 80px) !important;
}




/* LOGIN */


.loginNav {
    position: static;
}

.loginContainer {
    margin: 0;
    min-height: 100lvh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-top: 3%;
}

.loginContainer::before {
    content: attr(data-text);
    display: block;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    width: 150vw;
    height: 200lvh;
    left: -25%;
    top: -110%;
    background: radial-gradient(#210d73 20%, black 65%);
}

.loginHeading {
    font-size: clamp(50px, 7vw, 200px);
    color: white;
    font-family: 'Playfair Display', serif;
    letter-spacing: -1.92px;
}


.loginForm {
    margin-top: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginInput {
    display: block;
    width: 400px;
    width: clamp(250px, 20.7vw, 500px);
    background-color: #210d73;
    border-radius: 20px;
    border: #3a16ca 2px solid;
    color: white;
    font-size:clamp(20px, 1.6vw, 80px);
    font-weight: 400;
    padding: 7px 13px;
    font-family: 'Roboto', sans-serif;
    transition: border-width 0.3s ease-in-out;
    margin-left: 1px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
}

.loginInput::placeholder {
    color: #E4E2E9;
}

.loginInput:nth-last-of-type(2) {
    margin: 0.25em 0 0.35em 0;
}

.loginNote {
    color: #E4E2E9;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(15px, 1.3vw, 25px);
    margin-bottom: 2.5em;
}

.loginBtn {
    background-color: #ffda00;
    border-radius: 0.75em;
    border: none;
    padding: 0.2em 0.5em;
    font-weight: 500 !important;
    font-size: clamp(20px, 2vw, 80px);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* width: clamp(50px, 20vw, 300px); */
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}




/* ERROR */


.errorBody {
    overflow: hidden;
}

.errorMessage {
    color: white;
    margin: 0;
    min-height: 100lvh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-top: 3%;
}

.errorContainer::before {
    content: attr(data-text);
    display: block;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    width: 150vw;
    height: 200lvh;
    left: -25%;
    top: -95%;
    background: radial-gradient(#210d73 20%, black 65%);
    overflow-y: hidden;
}

.errorMessage h1 {
    font-size: clamp(50px, 7vw, 200px);
    color: white;
    font-family: 'Playfair Display', serif;
    letter-spacing: -1.92px;
    text-align: center;
}

.errorMessage p {
    color: #E4E2E9;
    font-weight: 500;
    font-size: clamp(2.2rem, 2.3vw, 15rem);
    margin-top: 0.3em;
    user-select: none;
    text-align: center;
}

.errorMessage a {
    background-color: #ffda00;
    border-radius: 0.75em;
    border: none;
    padding: 0.2em 1.1em;
    font-weight: 500 !important;
    font-size: clamp(20px, 2vw, 80px);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* width: clamp(50px, 20vw, 300px); */
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-top: 1.8em;
}