* {
    margin: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}


/* HEADER */

.headerContainer {
    background-color: #EDEDE3;
    max-width: 1920px;
    height: 100px;
    text-align: center;
    padding: 50px 0;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    max-width: 128px;
    display: inline-block;
    margin-right: 15px;
}

.mainH1 {
    font-size: 50px;
    color: #294a70;
    font-family: "Merriweather Sans",sans-serif;
    display: inline-block;
}

.loginLink {
    position: absolute;
    float: right;
    right: 0;
    top: 0;
    padding: 3px;
    margin: 8px;
    color: #294a70;
    text-decoration: none;
}

nav {
    background-color: #294a70;
    max-width: 1920px;
    height: 50px;
    border-bottom: 5px solid #f4a024;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    font-size: 22px;
    height: 50px;
    border-right: 1px solid white;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

nav a:first-child {
    border-left: 1px solid white;
}



/* MAIN */

main {
    background-color: #EDEDE3;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataContainer {
    max-width: 700px;
    margin: 0 auto;
    padding: 30px 0;
}

.searchInput {
    width: 300px;
    height: 27px;
    border: 1px solid #294a70;
    font-size: 19px;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.searchInput:focus {
    border: 2px solid #f4a024 !important;
}

.dataTable, .dataTable th, .dataTable td {
    border: 1px solid black;
    border-collapse: collapse;
}

.dataTable {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    border: 2px solid black;
}

tbody tr {
    height: 40px;
    background-color: white;
    color: #294a70;
}

.dataTable th, .dataTable td {
    font-size: 22px;
    text-align: center;
}

thead th{
    background-color: #294a70;
    font-size: 21px;
    padding: 12px 6px;
    color: white;
}

.mainColumn {
    width: 336px;
}

.sideColumn {
    width: 200px;
}


/* BOOK INFO */

.moreInfoHeader {
    background-color: #edede3;
    font-family: "Merriweather Sans",sans-serif;
    height: 180px;
    border-bottom: 5px solid #f4a024;
}

.bookName {
    font-size: 50px;
    padding: 20px 0 0 30px;
}

.author {
    font-size: 28px;
    margin-left: 5px;
    font-weight: 400;
    padding-left: 30px;
    padding-bottom: 20px;
}

.moreInfoMain {
    display: block;
    padding: 20px 30px;
    font-family: 'Open Sans', sans-serif;
    height: 740px;
}

.description {
    max-width: 1700px;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#bookInfo {
    font-size: 22px;
}

.bookImg {
    width: 150px;
    order: 2;
    margin-left: 100px;
}

.bookInfoSource {
    color: #404040;
    margin-top: 8px;
}

#bookSourceLink {
    color: black;
    text-decoration: none;
}

.btn {
    /*background-color: #294a70;*/
    background-color: #f4a024;
    border: 2px solid black;
    padding: 7px 16px;
    font-size: 23px;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
}

.deactivateBtn {
    opacity: 0.6;
    pointer-events: none;
    background-color: #b0b0b0;
}

.reservationInfo {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.reservationInfo p {
    font-size: 20px;
}

.bookAvailable {
    color: #4CAF50;
    font-weight: bold !important;
    font-size: 30px !important;
}

.bookNotAvailable {
    color: red;
    font-weight: bold !important;
    font-size: 30px !important;
}